<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/assets/icons/site.webmanifest">
    {% feed_meta %}
    {% seo %}
    <title>{{page.title}}</title>
  </head>
  <body>
    <div class="nav-links">
      {% include navigation.html %}
    </div>
    <div class="profile-section">
      <!-- <img class="profile-image" src="https://avatars.githubusercontent.com/u/193754305?v=4" alt="Profile Image"> -->
      <div class="profile-content">
        {{content}}
        <br>
        <div class="social-links">
          <a href="https://github.com/birthofq" target="_blank">
            <img src="/assets/icons/github.svg" alt="GitHub">
          </a>
          <a href="https://twitter.com/nonsojohn_" target="_blank">
            <img src="/assets/icons/twitter.svg" alt="Twitter">
          </a>
          <!-- <a href="https://linkedin.com/in/john-chukwuemeka-5319b1208" target="_blank">
            <img src="/assets/icons/linkedin.svg" alt="LinkedIn">
          </a> -->
        </div>
      </div>
    </div>
    
    <h2>Recent Projects</h2>
    <ul>
      {% for project in site.data.projects %}
      {%- if project.status == "ongoing" or project.status == "paused" -%}
      <li>
        <a href="https://{{project.link}}">
          {{project.name}} :
        </a>
        <em>{{project.status}}</em>
      <p>{{project.desc}}</p>
    </li>
      {%- endif -%}
      {% endfor %}
    </ul>
    <script>
      const toggleButton = document.getElementById('darkModeToggle');
      const body = document.body;
    
      // Apply saved theme on load
      if (localStorage.getItem('theme') === 'dark') {
        body.classList.add('dark-mode');
        toggleButton.textContent = '☀️';
      }
    
      toggleButton.addEventListener('click', () => {
        body.classList.toggle('dark-mode');
        const isDark = body.classList.contains('dark-mode');
    
        localStorage.setItem('theme', isDark ? 'dark' : 'light');
        toggleButton.textContent = isDark ? '☀️' : '🌙';
      });
    </script>
  </body>
</html>
